{% extends "layout.html" %}
{% block content %}

<body>
    <div class=container>
        <form action="/search_result" method="POST">
            <input type="text" name="Symbol" placeholder="ie. 8766.T">
            <input type="submit" value="Search">
        </form>

        <p class="result">
            {% if input_symbol %}
            <div>
                <p>
                    Here is the result of {{ input_symbol }}
                </p>
                <div>
                    <p>
                        <h2>Profile</h2>
                        {{tb1 | safe}}
                        <br>
                        <h2>Recent five years</h2>
                        {{tb2 | safe}}
                        <br>
                        <h2>Average price</h2>
                        {{tb3 | safe}}
                    </p>
                </div>
            </div>
            {% endif %}
        </p>
    </div>
</body>
{% endblock %}

<!-- <table id="table" align="center" border="1px">
                <thead>
                    {% for column in columns%}
                    <th>{{column}}</th>
                    {% endfor %}
                </thead>
                <tbody>
                    <meta charset="UTF-8">
                    {% for i in data %}
                    <tr>
                        {% for v in i %}
                        <td>{{ v }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
            </table> -->